aiofiles~=23.2.1
aiohttp~=3.9.3
aiolimiter~=1.1.0
argcomplete~=1.10.3
asyncio~=3.4.3
bs4~=0.0.1
email-scraper~=0.4
email_validator~=2.1.1
filelock~=3.13.1
IMAPClient~=2.1.0
importlib-metadata~=6.8.0
nest-asyncio~=1.5.8
nltk~=3.8.1
numpy~=1.26.0
openai~=1.51.0
pandas~=1.5.3
pipreqs~=0.4.13
pydantic~=2.9.2
pytest~=8.3.2
pytest-xdist~=3.3.1
pytest-mock~=3.14.0
python-dotenv~=1.0.0
regex~=2023.8.8
requests~=2.32.3
scipy~=1.12.0
textract~=1.6.5
tiktoken~=0.8.0
streamlit~=1.36.0
langchain-community~=0.3.1
langchain-openai~=0.2.2
langchain-core~=0.3.9
langchain-anthropic~=0.2.3
tenacity~=8.5.0
pillow~=10.4.0
transformers~=4.44.1
pytest-asyncio~=0.24.0
typeguard~=4.3.0
scikit-learn==1.5.2
